<header>
    <ul>
        <li><a href="/">Home</a></li>
    </ul>
    <ul>
        <li><a href="/movies">Listar Películas</a></li>
        <li><a href="/movies/new">Peliculas por fecha</a></li>
        <li><a href="/movies/recommended">Peliculas recomendadas</a></li>
    </ul>
    <ul>
        <li><a href="/genres">Generos de películas</a></li>
    </ul>
    <ul>
        <li><a href="/actors">Actores</a></li>
        <li><a href="/actors/rating">Mejores actores</a></li>
    </ul>
</header>